HeaderFilterRegex: '^((?!external).)*$'
Checks: '-*,
cppcoreguidelines-*,
modernize-*,
google-*,
bugprone-*,
misc-*,
-bugprone-easily-swappable-parameters,
-cppcoreguidelines-avoid-magic-numbers,
'
## maybe will add latter: readability-*
