BasedOnStyle: llvm
---
Language: Cpp
Standard: c++20
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: <sneze/.*\.h>
    Priority: 1
  - Regex: '<[[:alnum:]_]+>'
    Priority: 2
  - Regex: '<[[:alnum:]_./]+>'
    Priority: 3
  - Regex: '.*'
    Priority: 4

TabWidth: 4
UseTab: Never

AllowShortBlocksOnASingleLine: Always
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: Inline

AccessModifierOffset: -4
AlignEscapedNewlines: Left
AllowAllConstructorInitializersOnNextLine: true
BinPackArguments: false
BinPackParameters: false
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
DerivePointerAlignment: false
FixNamespaceComments: true
IndentCaseLabels: false
IndentPPDirectives: AfterHash
IndentWidth: 4
NamespaceIndentation: All
PointerAlignment: Left
SpaceBeforeCtorInitializerColon: false
SpaceInEmptyParentheses: false
SpacesInParentheses: true
AlwaysBreakTemplateDeclarations: Yes
SpaceAfterTemplateKeyword: true
SortUsingDeclarations: true
ReflowComments: true
ColumnLimit: 120