[submodule "lib/external/raylib"]
	path = lib/external/raylib
	url = https://github.com/raysan5/raylib
[submodule "lib/external/spdlog"]
	path = lib/external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "lib/external/PlatformFolders"]
	path = lib/external/PlatformFolders
	url = https://github.com/sago007/PlatformFolders
[submodule "lib/external/Boxer"]
	path = lib/external/Boxer
	url = https://github.com/aaronmjacobs/Boxer
[submodule "lib/external/toml11"]
	path = lib/external/toml11
	url = https://github.com/ToruNiina/toml11
